@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --white: #fff;
    --primary: #0a0a0a;
    --secondary: rgb(245, 84, 40);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    transition: .5s;
}

html, body {
    color: var(--white);
    background: var(--primary);
}
/* Globals */

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(21, 21, 21);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header */

header {
    width: 100%;
    height: 5rem;
    /* border: 2px solid; */
}

header .nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

header .nav .logo {
    font-size: 2rem;
    font-weight: 800;
}

header .nav .logo span {
    color: var(--secondary);
}

/* main {
    padding: 1rem 0;
} */

main .cats-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    /* box-shadow: 0 0 5px white; */
}

.cats-container::-webkit-scrollbar {
    /* width: .5em; */
    height: .5em;
}
   
.cats-container::-webkit-scrollbar-track {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
   
.cats-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}


.cat-card {
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.cat-card:hover {
    z-index: 3;
    box-shadow: 0 0 10px white;
    transform: scale(1.025);
}

.cat-card .cat-image {
    width: 400px;
    height: 100%;
    object-fit: cover;
    animation: 1.25s bluranimation ease;
}

.cat-card .button {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    transition: 100ms ease;
    box-shadow: 0 5px 10px var(--primary);
    /* border: 1px solid var(--secondary); */
}

.cat-card .button:hover {
    background-color: var(--secondary);
    color: white;
}

/* RANDOM */
.random {
    min-height: 40vh;
}

section h3 {
    font-size: 1.4rem;
    color: var(--secondary);
    text-transform: uppercase;
    text-align: end;
}
.random h3 {
    margin-bottom: 2rem;
}

/* FAVS */
.favs {
    min-height: 50vh;
}

.favs h3 {
    text-align: start;
    margin: 2rem 0;
}


/* ABOUT */


.about {
    padding: 2rem 0;
    min-height: 60vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.about h3 {
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: white;
}

.about .technologies {
    display: inline-flex;
}

.about .technologies img {
    width: 60px;
    height: 60px;
}


@keyframes bluranimation { 
    0%{
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}